@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Bold.woff') format('woff'),
        url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Regular.woff') format('woff'),
        url('../font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Medium.eot');
    src: local('/Roboto Medium'), local('Roboto-Medium'),
        url('../font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Medium.woff') format('woff'),
        url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Black.woff') format('woff'),
        url('../font/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Light.woff') format('woff'),
        url('../font/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../font/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Thin.woff') format('woff'),
        url('../font/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../font/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-Regular.woff2') format('woff2'),
        url('../font/Inter-Regular.woff') format('woff'),
        url('../font/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Black.eot');
    src: local('Inter Black'), local('Inter-Black'),
        url('../font/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-Black.woff2') format('woff2'),
        url('../font/Inter-Black.woff') format('woff'),
        url('../font/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'),
        url('../font/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-LightBETA.woff2') format('woff2'),
        url('../font/Inter-LightBETA.woff') format('woff'),
        url('../font/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../font/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-SemiBold.woff2') format('woff2'),
        url('../font/Inter-SemiBold.woff') format('woff'),
        url('../font/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../font/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-Bold.woff2') format('woff2'),
        url('../font/Inter-Bold.woff') format('woff'),
        url('../font/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-ExtraLightBETA.eot');
    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
        url('../font/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../font/Inter-ExtraLightBETA.woff') format('woff'),
        url('../font/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-ExtraBold.eot');
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('../font/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-ExtraBold.woff2') format('woff2'),
        url('../font/Inter-ExtraBold.woff') format('woff'),
        url('../font/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-ThinBETA.eot');
    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
        url('../font/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-ThinBETA.woff2') format('woff2'),
        url('../font/Inter-ThinBETA.woff') format('woff'),
        url('../font/Inter-ThinBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../font/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-Medium.woff2') format('woff2'),
        url('../font/Inter-Medium.woff') format('woff'),
        url('../font/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



body {
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    position: relative;
    background: #EBEBEB;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    transition: 0.3s;
}

input {
    outline: none !important;
}

.row {
    display: flex;
}

.container {
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;

}

@media screen and (max-width: 321px) {

    section,
    header,
    footer {
        overflow: auto;
        min-width: 320px;
    }
}

.title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #212121;
    padding-left: 80px;
    position: relative;
}

.title:before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #BB1219;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1200px) {
    .title {
        font-size: 30px;
    }

}

@media screen and (max-width: 992px) {
    .title {
        font-size: 22px;
    }

}

@media screen and (max-width: 768px) {
    .title {
        font-size: 16px;
    }



    .title:before {
        display: none;
    }

    .title {
        text-align: center;
        padding-left: 0;
    }
}

.slogan {
    font-size: 20px;
    line-height: 150%;
    color: #2B2B2B;
}

@media screen and (max-width: 1200px) {


    .slogan {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {


    .slogan {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {


    .slogan {
        font-size: 12px;
        text-align: center;
    }


}

.btn {
    background: #bb1219;
    border: none;
    padding: 23px 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #fff7f7;
    max-width: 100%;
}

.btn:hover {
    background: #e33239;
}

.btn:active {
    background: #a30209;
}

@media screen and (max-width: 1200px) {
    .btn {
        padding: 20px 36px;
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .btn {
        font-size: 16px;
        padding: 16px 30px;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        font-size: 14px;
    }
}


.scroll-container {
    width: 1740px;
    max-width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
    z-index: 50;

}

.scroll-block {

    position: absolute;
    right: 50px;
    position: fixed;
    border: 3px solid #BB1219;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
    border-radius: 50%;
    cursor: pointer;

}

@media screen and (max-width: 1200px) {
    .scroll-block {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .scroll-block {
        width: 50px;
        height: 50px;
    }
}


.header {
    padding: 30px 0;
    background: #EBEBEB;;
    justify-content: center;
    position: relative;
    z-index: 50;
}

.header.active {
    background: #C5CBD2;
}

.header .container {
    align-items: center;
    max-width: 1740px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .row {
    display: flex;
    align-items: center;
}

.bars {
    display: none;
    margin-left: 40px;
    cursor: pointer;
}

.header-menu {
    margin-left: 105px;
}

.header-contact {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-contact-item {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #2b2b2b;
}

.header-contact-item+.header-contact-item {
    margin-left: 50px;
}

.header-btn {
    margin-left: 65px;
}

.shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 30;
    display: none;
    animation: showing 0.3s;
}

.shadow.active {
    display: block;
}

.mob-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0%;
    width: 100%;
    background: #c5cbd2;
    text-align: center;
    padding: 40px 20px 30px 20px;
    display: none;
}

.mob-menu .menu-link {
    margin: 20px 0 0 0 !important;
}

@keyframes showing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mob-menu-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.mob-menu .menu-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #2b2b2b !important;
    display: block;
}

.mob-menu-inner {
    border: 1px solid #a2aab2;
    padding: 25px 0;
    text-align: center;
    margin-top: 30px;
}

.mob-menu .menu-link+.mob-menu .menu-link {
    margin-top: 20px;
}

.mob-menu-inner .header-contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto !important;
}

.mob-menu-inner .header-contact-item:last-child {
    margin-top: 15px !important;
}

.mob-menu-inner .header-contact-item img {
    margin-right: 15px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    display: block;
}

.menu-link {
    display: block;
    color: #2b2b2b;
    font-size: 20px;
    line-height: 150%;
}

.menu-link+.menu-link {
    margin-left: 50px;
}

@media screen and (max-width: 992px) {
    .menu {
        justify-content: space-between;
    }

    .menu-link+.menu-link {
        margin-left: 20px;
    }

    .menu-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
    }
}

@media screen and (max-width: 574px) {
    .menu-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 1520px) {
    .header .header-menu {
        display: none;
    }

    .bars {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .header .header-btn {
        margin-left: 40px;
    }

    .header-contact-item+.header-contact-item {
        margin-left: 20px;
    }

    .header-contact-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .header .header-btn {
        margin-left: 30px;
    }

    .header-contact-item {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        padding: 15px 0;

    }

    .header .header-contact,
    .header .header-btn {
        display: none;
    }

    .bars {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0;
        padding: 15px;
    }

    .header .row {
        justify-content: center;
    }

    .logo img {
        width: 88px;
        height: 30px;
    }



}







.production {
    padding: 130px 0 30px 0;
    background: #dfe1e3;
}

.production .row {
    align-items: center;
    justify-content: space-between;
}

.production-title {
    width: 60%;
}

.production-btn {
    margin: 30px 0 10px 0;
}

.production-title-item {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #212121;
}

.production-text {
    width: 37%;
}

.production-text-item {
    font-size: 20px;
    line-height: 150%;
    color: #2b2b2b;
    font-family: 'Inter';
}

.production-slider-wrapper {
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.production-slider-direction{
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    width: 100%;
    max-width: 1920px;
}

.production-slider .slick-slide {
    margin: 0 15px;
    opacity: 0.5;
}

.production-slider .slick-center {
    opacity: 1;
}

.production-slider-item img {
    width: 100%;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: 3px solid #bb1219;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 10;
}

.left-arrow img,
.right-arrow img {
    width: 18px;
    height: 18px;
}

.production .left-arrow {
    left: 17%;
}

.production .right-arrow {
    right: 17%;
}

.left-arrow:hover,
.right-arrow:hover {
    background: #e33239;
    border: 3px solid #e33239;
}

.left-arrow:active,
.right-arrow:active {
    background: #a20209;
    border: 3px solid #a20209;
}


.slick-dots {
    bottom: 25px;
}

.slick-dots li {
    margin: 0 7.5px;
}

.slick-dots li.slick-active button:before {
    content: "";
    background: #BB1219;
    opacity: 1;
}

.slick-dots li button:before {
    content: "";
    background: #DFE1E3;
    width: 20px;
    height: 20px;
    opacity: 1;
}

.mob-block {
    display: none;
}

@media screen and (min-width: 1930px) {
    .production .right-arrow {
        right: 5%;
    }

    .production .left-arrow {
        left: 5%;
    }
}

@media screen and (max-width: 1400px) {
    .left-arrow {
        left: 30px;
    }

    .right-arrow {
        right: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .production-title-item {
        font-size: 30px;
    }

    .production-text-item {
        font-size: 16px;
    }

    .production {
        padding-top: 110px;
    }

    .production .left-arrow {
        left: 110px;
    }

    .production .right-arrow {
        right: 110px;
    }
}

@media screen and (max-width: 992px) {
    .production-title-item {
        font-size: 22px;
    }

    .production-text-item {
        font-size: 14px;
    }

    .production {
        padding-top: 80px;
    }

    .left-arrow,
    .right-arrow {
        width: 50px;
        height: 50px;
    }

    .production .left-arrow {
        left: 40px;
    }

    .production .right-arrow {
        right: 40px;
    }

}

@media screen and (max-width: 768px) {

    .slick-dots li button:before {
        width: 10px;
        height: 10px;
    }

    .slick-dots li {
        margin: 0;
    }

    .slick-dots {
        bottom: 20px;
    }

    .production-title-item {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .production-text-item {
        font-size: 12px;
        line-height: 150%;
    }

    .production {
        padding-top: 120px;
    }

    .production-slider-direction {
        display: none !important;
    }
}

@media screen and (max-width: 574px) {
    .production-title-item {
        margin-bottom: 20px;
    }

    .production .row {
        flex-wrap: wrap;
    }

    .production .row div {
        width: 100%;
        text-align: center;
    }

    .mob-block {
        display: block;
    }
}


.about {
    background: #dfe1e3;
    padding: 100px 0 130px 0;
}

.about .row {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.about-title-block {
    width: 34%;
}

.about-slogan-block {
    width: 64%;
}

.about-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.about-list-item {
    width: 25.5%;
    border: 1px solid #a2aab2;
    padding: 44px 25px;
    text-align: center;
    flex: 1 1 auto;
    margin: 15px;
    height: 220px;
}

.about-list-item-title {
    margin-top: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #2b2b2b;
}

@media screen and (max-width: 1200px) {
    .about-list-item {
        width: 25%;
    }

    .about {
        padding: 110px 0;
    }
}

@media screen and (max-width: 992px) {
    .about-list-item {
        width: 25%;
    }

    .about-list-item-title {
        font-size: 16px;
    }

    .about {
        padding: 90px 0;
    }
}

@media screen and (max-width: 768px) {
    .about-list-item-title {
        font-size: 14px;
        margin-top: 15px
    }

    .about-list-item {
        width: 45%;
        padding: 54px 25px;
    }

    .about {
        padding: 40px 0;
    }

    .about .row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5px;
    }

    .about-title-block {
        width: 100%;
    }

    .about-title-block {
        margin-bottom: 20px;
    }

    .about-slogan-block {
        width: 100%;
    }

}

@media screen and (max-width: 574px) {
    .about-list-item {
        height: 160px;
        padding: 25px;
    }

}





.performance {
    padding: 130px 0;
}

.performance-rel {
    position: relative;
}

.performance-slider-block {
    position: relative;
    margin: 70px 0 50px 0;
}


.left-arrow,
.right-arrow {
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: 3px solid #bb1219;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 10;
}

.left-arrow img,
.right-arrow img {
    width: 18px;
    height: 18px;
}

.performance .left-arrow {
    left: -120px;
    top: 40%;
}

.performance .right-arrow {
    right: -120px;
    top: 40%;
}

.left-arrow:hover,
.right-arrow:hover {
    background: #e33239;
    border: 3px solid #e33239;
}

.left-arrow:active,
.right-arrow:active {
    background: #a20209;
    border: 3px solid #a20209;
}

.performance-slider {}

.performance-slider-item {
    position: relative;
}

.performance-slider-item img {
    width: 100%;
}

.performance-block {
    width: 50%;
}

.performance-left-btn {
    display: inline-block;
    border: 1px solid #a2aab2;
    padding: 11px 35px;
    margin-bottom: 33px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.05em;
    color: #212121;
}

.performance-left-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
}

.performance-left-text+.performance-left-text {
    margin-top: 16px;
}

.performance-left-text span,
.performance-left-text span a {
    margin-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: #2b2b2b;
}

.performance-left-text span a {
    margin-left: 0 !important;
}

.performance-right-text {
    font-size: 20px;
    line-height: 150%;
    color: #2b2b2b;
}

@media screen and (max-width: 1400px) {
    .performance .left-arrow {
        left: 30px;
    }

    .performance .right-arrow {
        right: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .performance {
        padding: 110px 0;
    }

    .performance-slider-block {
        margin: 60px 0 40px 0;
    }

    .performance-left-btn {
        font-size: 20px;
    }



    .performance .performance .performance .left-arrow,
    .performance .performance .performance .right-arrow {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 992px) {
    .performance {
        padding: 90px 0;
    }

    .performance-slider-block {
        margin: 50px 0 30px 0;
    }

    .performance-left-btn {
        font-size: 15px;
        padding: 11px 25px;
    }

    .performance-left-text,
    .performance-right-text {
        font-size: 16px;
    }

    .performance .performance .left-arrow,
    .performance .performance .right-arrow {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .performance {
        padding: 40px 0;
    }

    .performance-slider-block {
        margin: 20px 0 15px 0;
    }

    .performance .left-arrow,
    .performance .right-arrow {
        position: static;
        display: flex !important;
        width: 40px;
        height: 40px;
        border: 2px solid #bb1219;
    }

    .performance .left-arrow img,
    .performance .right-arrow img {
        width: 12px;
        height: 12px;
    }

    .performance-slider-direction {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .performance .right-arrow {
        margin-left: 20px
    }


    .performance-block+.performance-block {
        margin-top: 15px;
    }

    .performance-left-btn {
        margin-bottom: 16px;
        font-size: 12px;
        padding: 10px 20px;
    }

    .performance-left-text,
    .performance-right-text {
        font-size: 12px;
    }

    .performance-left-text span,
    .performance-left-text span a {
        margin-left: 3px;
    }

    .performance-left-text+.performance-left-text {
        margin-top: 7px;
    }


}

@media screen and (max-width: 574px) {
    .performance .row {
        flex-wrap: wrap;
    }

    .performance-block {
        width: 100%;
    }

    .performance-left-btn-block {
        text-align: center;
    }
}


.feedback {
    background: #dfe1e3;
    padding: 130px 0;
}

.feedback-item {
    width: 50%;
}

.feedback-form {
    position: relative;
}

.feedback-form-row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback-input-block input {
    border: 1px solid #a2aab2;
    height: 70px;
    padding: 0 30px;
    width: 100%;
    font-family: Roboto;
    font-size: 20px;
    color: #A2AAB2;
    background: transparent;
}

.feedback-input-block {
    width: 37.5%;
}

.feedback-war {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    font-size: 12px;
    line-height: 150%;
    color: #bb1219;
    display: none;
}

.feedback-file {
    margin-top: 10px;
    cursor: pointer !important;

}

.feedback-file.none {
    display: none;
    margin-left: auto;
}

#feedback-file-object {
    display: none;

}

.feedback-file-object-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 150%;
    color: #2b2b2b;
    cursor: pointer;
}

.feedback-file span {
    margin-left: 10px;
    position: relative;
    top: 3px;
}

@media screen and (max-width: 1200px) {
    .feedback-input-block{
        width: 36%;
    }

    .feedback-input-block input {
        height: 60px;
    }

    .feedback {
        padding: 110px 0;
    }

    .feedback-input-block input {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .feedback-input-block input {
        font-size: 14px;
        height: 52px;
    }

    .feedback-input-block {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .feedback-form-row {
        flex-wrap: wrap;
        justify-content: normal;
    }

    .feedback .title,
    .feedback .slogan {
        text-align: start;
    }

    .feedback-input-block {
        width: 48%;
    }

    .feedback-input-block+.feedback-input-block {
        margin-left: 4%;
    }

    .feedback-sub {
        margin-top: 40px;
    }

    .feedback-file {}

    .feedback-file {
        display: none;
    }

    .feedback-file.none {
        display: block;
        margin-left: 30%;
    }

    .feedback {
        padding: 90px 0;
    }
    .feedback-sub{
        width: 52%;
    }
    .feedback-file.none{
        width: 48%;
        margin: 0;
    }


}

@media screen and (max-width: 574px) {

    .feedback .title,
    .feedback .slogan {
        text-align: center;
    }

    .feedback .row {
        flex-wrap: wrap;
    }

    .feedback-item {
        width: 100%;
    }

    .feedback {
        padding: 40px 0;
    }

    .title-block {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 574px) {

    .feedback {
        overflow: hidden;
    }

    .feedback-sub {
        order: 5;
    }

    .feedback-input-block {
        width: 100%;
    }

    .feedback-input-block+.feedback-input-block {
        margin-left: 0;
        margin-top: 15px;
    }

    .feedback-file.none {
        margin: 10px 0 15px 0;
    }

    .feedback-sub {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }



    .feedback-input-block input {
        font-size: 12px;
    }

    .feedback-file-object-item {
        font-size: 12px;
        font-family: 'Roboto'
    }

}

.reviews {
    padding: 130px 0;
}

.reviews-block {
    width: 48%;
    margin-top: 70px;
}

.reviews .row {
    justify-content: space-between;
}

.reviews .title-block {
    margin-bottom: 0 !important;
}


@media screen and (max-width: 1200px) {
    .reviews {
        padding: 110px 0;
    }

    .reviews-block {
        margin-top: 60px;
    }
}

@media screen and (max-width: 992px) {
    .reviews {
        padding: 90px 0;
    }

    .reviews-block {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .reviews {
        padding: 40px 0;
    }
}

@media screen and (max-width: 574px) {

    .reviews .row {
        flex-wrap: wrap;
    }

    .reviews-block {
        width: 100%;
        margin-top: 20px;
    }

    .reviews-block+.reviews-block {
        margin-top: 15px;
    }
}







.contact {
    background: #dfe1e3;
    padding: 130px 0;
}

.map {
    margin: 70px 0;
}

.map iframe {
    width: 100%;
    border: none !important;
}

.contact-item {
    width: 50%;
}

.contact-block-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #212121;
}

.contact-block-text+.contact-block-text {
    margin-top: 16px;
}

.contact-block-text a,
.contact-block-text span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: #2b2b2b !important;
}

.contact-rek {
    width: 40%;
}

.contact-rek-item {
    display: inline-block;
    border: 1px solid #a2aab2;
    padding: 11px 35px;
    margin-bottom: 33px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.05em;
    color: #212121;
}

.contact-info-text {
    font-size: 20px;
    line-height: 200%;
    color: #2b2b2b;
}

@media screen and (max-width: 1200px) {
    .map {
        margin: 60px 0;
    }

    .contact-block-text,
    .contact-info-text {
        font-size: 16px;
    }

    .contact {
        padding: 120px 0;
    }

    .contact-rek-item {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .map {
        margin: 50px 0;
    }

    .contact-block-text,
    .contact-info-text {
        font-size: 14px;
    }

    .contact {
        padding: 90px 0;
    }

    .contact-rek-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .map {
        margin: 20px 0;
    }

    .contact-block-text,
    .contact-info-text {
        font-size: 12px;
    }

    .contact-block-text+.contact-block-text {
        margin-top: 13px;
    }


    .contact {
        padding: 40px 0;
    }

    .contact-rek-item {
        font-size: 12px;
        width: 110px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 15px auto;
        padding: 0;
    }




}

@media screen and (max-width: 574px) {
    .contact .row {
        flex-wrap: wrap;
    }

    .contact-item {
        width: 100%;
    }
    .contact .title {
        margin-bottom: 20px;
        
    }
    .contact-rek,
    .contact-info {
        width: 100%;
    }
}

.footer {
    padding: 15px 0;
}

.footer .header-menu {
    margin: 0;
}

.footer .header-btn {
    margin: 0;
}

.footer .row {
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .footer .logo img {
        width: 108px;
        height: 43px;
    }
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 660px) {
    .footer .logo-block {
        order: 1;
    }

    .footer .header-menu {
        order: -1;
        width: 100%;
        margin-left: 0;
    }

    .footer .header-btn {
        order: 2;
    }

    .footer .row {
        flex-wrap: wrap;
    }

    .footer .header-menu {
        display: flex;
        justify-content: center;
        margin-bottom: 25px
    }

    .footer .logo img {
        width: 88px;
        height: 33px;
    }
    .footer .menu-link{
        font-size: 16px;
        margin-left: 0 !important
    }
}
@media screen and (max-width: 574px){
    .footer .menu-link{
        font-size: 14px;
    }
}
@media screen and (max-width: 404px){
    .footer .menu-link{
        font-size: 12px;
        font-weight: 400;
    }
}