* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html { scroll-behavior: smooth; }

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.eot');
	src: local('Inter Regular'), local('Inter-Regular'),
			url('/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Inter-Regular.woff2') format('woff2'),
			url('/fonts/Inter-Regular.woff') format('woff'),
			url('/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Bold.eot');
	src: local('Inter Bold'), local('Inter-Bold'),
			url('/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Inter-Bold.woff2') format('woff2'),
			url('/fonts/Inter-Bold.woff') format('woff'),
			url('/fonts/Inter-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Black.eot');
	src: local('Inter Black'), local('Inter-Black'),
			url('/fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Inter-Black.woff2') format('woff2'),
			url('/fonts/Inter-Black.woff') format('woff'),
			url('/fonts/Inter-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.eot');
	src: local('Roboto'), local('Roboto-Regular'),
			url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Roboto-Regular.woff') format('woff'),
			url('/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


:root {
	--background: #DFE1E3;
	--back-gray: #EBEBEB;
	--headings-color:#212121; 
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--hover-link-color: #b11616;
	--accent-color: #BB1219;
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	font-family: 'Inter';
	min-height: 100vh;
	margin: 0;
	background: var(--background);
	color: #2B2B2B;
}

h1,
h2,
h3 {
	font-weight: 400;
	color: var(--headings-color);
	font-family: 'Inter';
}

p {
	line-height: 1.5;
	font-family: 'Roboto';
}

a {
	color: var(--accent-color);
	text-decoration: none;
}
a:hover { text-decoration: underline; }

h1 {
	font-weight:900;
	text-transform: uppercase;
	font-size: 2.2rem;
}

h2 {
	font-weight:700;
	font-size: 2.2rem;
	text-transform: uppercase;
}

h3 {
	font-weight:700;
}


/* main slider */

.swiper-pagination { bottom:30px !important; }
.swiper-pagination-bullet { 
	border-radius:0 !important; 
	width:20px !important;
	height:20px !important; 
	margin:0 7px !important; 
	background: #fff !important;
	opacity:.9 !important;
}
.swiper-pagination-bullet-active {
	background: #BB1219 !important; 
}
.swiper-button-next {
	width:50px !important;
	height:50px !important;
	border: 3px solid #BB1219;
	right:300px !important;
}
.swiper-button-prev {
	width:50px !important;
	height:50px !important;
	left:300px !important;
	border: 3px solid #BB1219;
}
.swiper-button-next:hover, .swiper-button-prev:hover { background: #E33239; border: 3px solid #E33239; }
.swiper-button-next:after {
	content: "" !important;
	background: url(/images/right-arrow.svg) !important;
	width:14px !important;
	height:15px !important;
}
.swiper-button-prev:after {
	content: "" !important;
	background: url(/images/left-arrow.svg) !important;
	width:14px !important;
	height:15px !important;
}
.swiper { height: 100% !important; }
.swiper-lazy { 
	object-fit:cover !important; 
	object-position: center !important;
	width:100% !important;
	height:100% !important;
}
.swiper-slide-next, .swiper-slide-prev {
	opacity:.5 !important;
}


@media (min-width: 1000.01px) and (max-width: 1550px) { 
	.swiper-button-prev { left:77px !important; } 
	.swiper-button-next { right:77px !important; } 
}
@media (min-width: 800.01px) and (max-width: 1000px) { 
	.swiper-button-prev { left:60px !important; } 
	.swiper-button-next { right:60px !important; } 	
}
@media screen and (max-width: 800px) { 
	.swiper-button-prev { display: none !important; } 
	.swiper-button-next { display: none !important; } 	
	.swiper-lazy { height:220px !important;}
	.swiper-pagination-bullet { 
		width:10px !important;
		height:10px !important; 
	}
}


/* projects slider */

.project-img {
	height:570px !important;
	width:1110px !important;
	margin-left:120px;
}
.projects-slider .swiper-button-prev { 
	top:31% !important;
	left:29px !important;
}
.projects-slider .swiper-button-next { 
	top:31% !important;
	right:29px !important;
}

@media (min-width: 1000.01px) and (max-width: 1550px) {
	.project-img { 
		width:100% !important; 
		margin-left:0 !important; 
		object-fit: cover !important;
		object-position: center !important;
	}
}
@media (min-width: 800.01px) and (max-width: 1000px) { 
	#projects { width:100%; padding:0 45px; margin:90px auto 30px auto; }
	.project-img { 
		width:100% !important; 
		margin-left:0 !important; 
		object-fit: cover !important;
		object-position: center !important;
	}
}
@media screen and (max-width: 800px) { 
	#projects { width:100%; padding:0 15px; margin:40px auto 30px auto; }
	.project-img { 
		width:100% !important; 
		height:148px !important;
		margin-left:0 !important; 
		object-fit: cover !important;
		object-position: center !important;
	}
	.projects-slider .swiper-button-prev { 
		display: block !important;
		left:30% !important;
		top:auto !important;
		bottom:40px !important;
	}
	.projects-slider .swiper-button-next { 
		position: absolute;
		display: block !important;
		right:30% !important;
		top:auto !important;
		bottom:40px !important;
	}
	.projects-slider .swiper-button-next:after {
		display: block !important;
		margin-top:30%;
		margin-left:38%;
	}	
	.projects-slider .swiper-button-prev:after {
		display: block !important;
		margin-top:30%;
		margin-left:30%;
	}
}


/* title-of-the-sections */

.section-title-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
	padding:2rem 0;
}
.section-title {
	width:auto;
	font-size:40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.section-text {
	width:730px;
	padding:0 1rem;
	font-size: 20px;
}
.line { 
	width:50px; 
	height:3px; 
	background: var(--accent-color); 
	margin-right:30px;
}

@media (min-width: 1000.01px) and (max-width: 1550px) { 
	.section-title { font-size:30px; } 
	.section-text { width:610px; font-size: 16px;}
}
@media (min-width: 800.01px) and (max-width: 1000px) { 
	.section-title h2 { font-size:22px; } 
	.section-text { width:442px; font-size: 14px;}
	.line { width:30px; }
}
@media screen and (max-width: 800px) { 
	.section-title-block { flex-direction: column; text-align: center; padding:0; }
	.section-title h2 { font-size:16px; line-height: 24px; } 
	.section-text { width:100%; font-size: 12px; line-height: 18px; }
	.line { display:none; }
}